<% include ../partials/header %>
<link rel="stylesheet" href="../stylesheets/konak-index.css">
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Rapor</h1>
    
  </div>
  <h2 class="h4">Çıkış Yapmış Dorse Sayısı: <span id="count"></span></h2>
  
  <div class="table-responsive">
    <table class="table table-striped table-sm table-hover" id="myTable">
      <thead>
        <tr>
          <th>Dorse Plakası</th>
          <th>Getiren Çekici</th>
          <th>Götüren Çekici</th>
          <th>Firma</th>
          <th>Malın Cinsi</th>
          <th>Giriş Tarihi</th>
          <th>Çıkış Tarihi</th>
          <th>Kaldığı Gün</th>
          <% if(currentUser && currentUser.isAdmin){ %>
            <th>Ücret</th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% konak.forEach(function(konak){ %>
            <tr>
              <td><%= konak.dorse %></td>
              <td><%= konak.get_cekici %></td>
              <td><%= konak.got_cekici %></td>
              <td><%= konak.firma %></td>
              <td><%= konak.mal %></td>
              <td><%= moment(konak.giris).format("DD.MM.YYYY - HH:mm") %></td>
              <!-- <td><%= konak.user.firstName + " " + konak.user.lastName %></td> -->
              <td><%= moment(konak.cikis).format("DD.MM.YYYY - HH:mm") %></td>
              <!-- <td><%= konak.user.firstName + " " + konak.user.lastName %></td> -->
              <td><%= (moment(konak.cikis).diff(konak.giris, "days")+1) %> Gün</td>
              <% if(currentUser && currentUser.isAdmin){ %>
                <td><%= (moment(konak.cikis).diff(konak.giris, "days")+1)*25 + " TL" %></td>
                <td><a href="/report/<%= konak._id %>/edit" role="button" class="btn btn-sm btn-danger">Düzenle</a></td>
                <td>
                  <form action="/report/<%= konak._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-secondary" onclick="return uyari()">Sil</button>
                  </form>
                </td>
                <% } %>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <script type="text/javascript" src="javascript/report-index.js"></script>
        
        <% include ../partials/footer %>