<% include ../partials/header %>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Kullanıcılar</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <a href="/users/register" role="button" class="btn btn-outline-danger">Yeni Kullanıcı</a>
        </div>
      </div>
  </div>
  
  <div class="table-responsive">
    <table class="table table-striped table-sm table-hover" id="myTable">
      <thead>
        <tr>
          <th class="text-center">Adı</th>
          <th class="text-center">Soyadı</th>
          <th class="text-center">Kullanıcı Adı</th>
          <th class="text-center">Düzenle</th>
          <th class="text-center">Sil</th>
        </tr>
      </thead>
      <tbody>
        <% user.forEach(function(user){ %>
          <tr>
            <td class="text-center"><%= user.firstName %></td>
            <td class="text-center"><%= user.lastName %></td>
            <td class="text-center"><%= user.username %></td>
            <td class="text-center"><a href="/users/<%= user._id %>/edit" role="button" class="btn btn-sm btn-warning">Düzenle</a></td>
            <td class="text-center">
              <form action="/users/<%= user._id %>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-secondary" onclick="return uyari()">Sil</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tr>
      </tbody>
    </table>
  </div>
  <script type="text/javascript" src="javascript/users.js"></script>
  
  <% include ../partials/footer %>